.transactions-count {
    box-shadow: 0 0 2px rgb(132, 131, 131);
    padding: 25px;
    border-radius: 10px;
    color: rgb(56, 55, 55) !important;
}

.row {
    display: flex;
    justify-content: space-around;
}

.analytics h4 {
    font-size: 20px;
    color: gray !important;
    font-weight: 600;
}

.analytics h5 {
    font-size: 16px;
    color: gray !important;
}

.category-card {
    padding: 5px 20px;
    box-shadow: 0 0 2px gray;
    margin-top: 15px;
    border-radius: 5px;
}

.progress-bars {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}